# Supabase
SUPABASE_URL=https://uthvoszwlhlqwzmjdebw.supabase.co
SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InV0aHZvc3p3bGhscXd6bWpkZWJ3Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzYxODQ2NzksImV4cCI6MjA5MTc2MDY3OX0.0fkDhOwr30jjnIUz1aTB_xfOFOB_Z_-M8B051JrOAXY
